<div class="my-4">
    <!-- Action buttons -->
    <div class="d-flex flex-wrap justify-content-between gap-2" style="min-height: 40px">
      
      <button class="btn btn-danger" (click)="onReset()">
        <i class="bi bi-trash me-2"></i>Zurücksetzen
      </button>
      
      <button class="btn btn-info text-white" (click)="onPrint()">
        <i class="bi bi-printer me-2"></i>Drucken
      </button>
      
      <button class="btn btn-success" (click)="onValidate()">
        <i class="bi bi-check-circle me-2"></i>Abi-Wahl prüfen
      </button>
    </div>
  
    <!-- Status message -->
    <div *ngIf="statusMessage" 
         [ngClass]="isStatusSuccess ? 'alert alert-success' : 'alert alert-danger'"
         class="mt-3 fade-out">
      {{ statusMessage }}
    </div>
  </div>